.transaction-history {
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.transaction-history thead th {
  width: 200px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: rgb(34, 196, 174);
  color: rgb(255, 255, 255);
}
.transaction-history tbody tr:nth-child(2n) {
  background-color: rgb(236, 236, 236);
}
.transaction-history tbody td {
  text-align: center;
  padding: 10px 15px;
}
